/*
   ==========================================================================
   Colour definitions.
   ==========================================================================
*/

$col-black-90 : rgba( 0, 0, 0, .9 ) !default;
$col-black-80 : rgba( 0, 0, 0, .8 ) !default;
$col-black-70 : rgba( 0, 0, 0, .7 ) !default;
$col-black-60 : rgba( 0, 0, 0, .6 ) !default;
$col-black-50 : rgba( 0, 0, 0, .5 ) !default;
$col-black-40 : rgba( 0, 0, 0, .4 ) !default;
$col-black-30 : rgba( 0, 0, 0, .3 ) !default;
$col-black-20 : rgba( 0, 0, 0, .2 ) !default;
$col-black-10 : rgba( 0, 0, 0, .1 ) !default;
$col-black-05 : rgba( 0, 0, 0, .05 ) !default;
$col-white-90 : rgba( 255, 255, 255, .9 ) !default;
$col-white-80 : rgba( 255, 255, 255, .8 ) !default;
$col-white-70 : rgba( 255, 255, 255, .7 ) !default;
$col-white-60 : rgba( 255, 255, 255, .6 ) !default;
$col-white-50 : rgba( 255, 255, 255, .5 ) !default;
$col-white-40 : rgba( 255, 255, 255, .4 ) !default;
$col-white-30 : rgba( 255, 255, 255, .3 ) !default;
$col-white-20 : rgba( 255, 255, 255, .2 ) !default;
$col-white-10 : rgba( 255, 255, 255, .1 ) !default;
$col-black : #000 !default;
$col-near-black : #111 !default;
$col-dark-gray : #333 !default;
$col-mid-gray : #555 !default;
$col-gray : #777 !default;
$col-silver : #999 !default;
$col-light-silver : #aaa !default;
$col-moon-gray : #ccc !default;
$col-light-gray : #eee !default;
$col-near-white : #f4f4f4 !default;
$col-white : #fff !default;
$col-dark-red : #e7040f !default;
$col-red : #ff4136 !default;
$col-light-red : #ff725c !default;
$col-orange : #ff6300 !default;
$col-gold : #ffb700 !default;
$col-yellow : #ffd700 !default;
$col-light-yellow : #fbf1a9 !default;
$col-purple : #5e2ca5 !default;
$col-light-purple : #a463f2 !default;
$col-dark-pink : #d5008f !default;
$col-hot-pink : #ff41b4 !default;
$col-pink : #ff80cc !default;
$col-light-pink : #ffa3d7 !default;
$col-dark-green : #137752 !default;
$col-green : #19a974 !default;
$col-light-green : #9eebcf !default;
$col-navy : #001b44 !default;
$col-dark-blue : #00449e !default;
$col-blue : #357edd !default;
$col-light-blue : #96ccff !default;
$col-lightest-blue : #cdecff !default;
$col-washed-blue : #f6fffe !default;
$col-washed-green : #e8fdf5 !default;
$col-washed-yellow : #fffceb !default;
$col-washed-red : #ffdfdf !default;
$col-inherit : inherit !default;
