/*
   ==========================================================================
   Type scale settings (fluid).
   ==========================================================================
*/

@if $type-scale-method == fluid {

/* Clamp scaling.
   ========================================================================== */

html {
--font-size-xs: clamp(0.64rem, 0.54vw + 0.5rem, 0.94rem);
--font-size-sm: clamp(0.8rem, 0.46vw + 0.68rem, 1.06rem);
--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
--font-size-md: clamp(1.25rem, 0.16vw + 1.21rem, 1.34rem);
--font-size-lg: clamp(1.56rem, -0.11vw + 1.59rem, 1.5rem);
--font-size-xl: clamp(1.95rem, -0.48vw + 2.07rem, 1.69rem);
--font-size-xxl: clamp(2.44rem, -0.98vw + 2.69rem, 1.9rem);
--font-size-xxxl: clamp(3.05rem, -1.66vw + 3.47rem, 2.14rem);
}

body {
    font-size: var(--font-size-base);
}

/* Heading font properties.
   ========================================================================== */

h1 { font-size: var(--font-size-xxxl); }
h2 { font-size: var(--font-size-xxl); }
h3 { font-size: var(--font-size-xl); }
h4 { font-size: var(--font-size-lg); }
h5 { font-size: var(--font-size-md); }
h6 { font-size: var(--font-size-base); }

.embedded-headers h1 { font-size: var(--font-size-xxl); }
.embedded-headers h2 { font-size: var(--font-size-xl); }
.embedded-headers h3 { font-size: var(--font-size-lg); }
.embedded-headers h4 { font-size: var(--font-size-md); }
.embedded-headers h5 { font-size: var(--font-size-base); }
.embedded-headers h6 { font-size: var(--font-size-sm); }


/* Small font properties.
   ========================================================================== */

.small {
    font-size: var(--font-size-sm);
}

/* Site footer.
   ========================================================================== */

body > footer {
    font-size: var(--font-size-sm);
}

/* Emulating standard mode.
   ========================================================================== */
.fsize-4 {
    font-size: var(--font-size-sm);
}

.fsize-6 {
    font-size: var(--font-size-xs);
}

} // @if
